{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h1>Accueil</h1>
  </div>
</div>


<div class="grid-x grid-margin-x text-center">
  <div class="cell auto">
  <h2>Recettes</h2>
  </div>
</div>

<div class="grid-x recipes-list">
  {% for recipe in recipes %}
    <div class="cell medium-6 large-4 recipe">
      <a href="{{ path('recipe_detail', {'id': recipe.id}) }}">
        <div class="card" style="width: 300px;">
          <div class="card-divider">
            {{ recipe.title }}
          </div>
          <img class="thumbnail" src="https://placehold.it/300x400">
          <div class="card-section">
            {{ recipe.resume }}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
